body {
    background: #ccc;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#tittle, .subtitle, .post_tittle {
    color: black;
}

.post_tittle {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10;

}

#tittle {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #505050;
}

.post_content {
    margin: 0;
    margin-bottom: 10;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
}

.post {
    background: white;
    padding: 10px;
    border: 3px solid #505050;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 20px;
}

.erick {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 5px;
    border: 3px solid black;
}

.tuba {
    width: 100%;
}

.contact_list {
    list-style: none;
    padding-left: 0;
}

.contact_list li a {
    text-decoration: none;
    color: blue;
}